.coluna {
    border: 1px solid black
}

.cabecalho {
    min-height: 180px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    background-image: url("../images/back.jpg");
    background-size: cover;
    background-position: center;
    color: yellow;
}
.cabecalhoLogin {
    min-height: 180px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    background-image: url("../images/login-cover.jpg");
    background-size: cover;
    color: yellow;
}

.corpo {
    min-height: 180px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rodape {
    text-align: center;
    font-size: 12px;
    color: white;
}

.menu {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}

.itemMenu {
    float: left;
    width: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

.itemMenu:hover {
    cursor: pointer;
    background-color: gray;
}

.desenvImage {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.desenvCard {
    background-color: #e1e1e1;
    border-radius: 10px;
    padding: 10px;
}

.acesso {
    font-weight: bold;
    text-align: right;
}